body, div, label, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, th, td
{
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-type: none;
	list-style-position: outside;
	list-style-image: none;
}
body
{
	text-align: center;
	color: #333;
	line-height: 24px;
	font: 12px/24px Helvetica,Tahoma,Arial,sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	font-size-adjust: none;
	font-stretch: normal;
	background-image: none;
	background-attachment: scroll;
	background-repeat: repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgb(255, 255, 255);
}
a
{
	cursor: pointer;
}
a:link, a:visited
{
	color: #333;
	text-decoration: none;
}
img {
    border: 0 none;
    vertical-align: middle;
}
.nav
{
	height: 70px;
	overflow: hidden;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	background-image: url("../img/nav_bg.png");
	background-attachment: scroll;
	background-repeat: repeat-x;
	background-position-x: center;
	background-position-y: top;
	background-size: auto;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: transparent;
}
.nav .cx_tabmenu
{
	width: 960px;
	text-align: left;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.nav .lev_1
{
	height: 43px;
	overflow: hidden;
	display: block;
}
.nav .lev_1::after
{
	height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
}
.nav .lev_1 li
{
	float: left;
}
.nav .lev_1 li a
{
	width: auto;
	height: 38px;
	color: #fff;
	line-height: 38px;
	padding: 0px 25px 0px 25px;
    font: 16px/35px "微软雅黑",tahoma;
	font-style: normal;
	text-decoration: none;
	display: inline-block;
}
.nav .lev_1 li a.current {
    background: url("../img/arrow_nav_drop.gif") no-repeat scroll center 0 transparent !important;
    padding: 0 25px 5px !important;
}
.nav .lev_1 li a:hover {
    background: url("../img/arrow_nav_drop.gif") no-repeat scroll center 0 transparent;
    padding: 0 25px;
}
.nav .lev_2
{
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	display: block;
}
.nav .lev_2::after
{
	height: 0px;
	clear: both;
	display: block;
	visibility: hidden;
	content: ".";
}
.nav .lev_2 div
{
	display: block;
}
.nav .lev_2 li
{
	float: left;
}
.nav .lev_2 li a
{
	height: 22px;
	color: #333;
	padding-top: 0px;
	padding-right: 25px;
	padding-bottom: 0px;
	padding-left: 25px;
	text-decoration: none;
	display: inline-block;
	font: 13px/22px "微软雅黑",tahoma;
	font-style: normal;
}
.nav .lev_2 li a:hover{
	color: #AE0E15;
}
.nav .lev_2 #sc2
{
	padding-left: 55px;
}
.nav .lev_2 #sc3
{
	padding-left: 165px;
}
.nav .lev_2 #sc4
{
	padding-left: 260px;
}
.nav .lev_2 #sc6
{
	padding-left: 460px;
}
.topDiv{
	margin:0px auto;
	width:980px;
}
.logoDiv{
	height:70px;
	overflow:hidden;
}
.qltd-logo {
	margin-top:5px;
    background-image: url("../img/LogoMaker.png");
    background-repeat: no-repeat;
    height: 61px;
    margin-left: 10px;
    width: 190px;
	display: inline;
    float: left;
}
.login_div{
	float:right;
	margin-top:5px;
	margin-right:10px;
}
.login_div li{
    display: inline;
    float: left;
    padding:0px 5px;
    height: 24px;
    font-size: 14px;
    font-family: "微软雅黑";
    color:#A00000;
}
.login-btn{
background: url("../img/top_bg.png") no-repeat scroll right -651px transparent;
}
.login_div a{
    float: left;
    height: 24px;
    padding: 0px 9px 0 8px;
	color: #43434E;
    font-size: 14px;
    font-family: "微软雅黑";
}
.login_div a:hover{
    color:#D92F00;
}
.centerDiv{
	overflow: hidden;
	width: 980px;
	margin: 0px auto;
}
.leftDiv{
	float: left;
	width: 680px;
	overflow:hidden;
	display:inline;
}
.rightDiv{
	float: right;
	width: 282px;
	overflow:hidden;
}
.numDiv{
	overflow:hidden;
	width: 260px;
	padding:10px;
	border:1px solid #dadada;
	height:258px;
}
.tit_2 {
    border-bottom: 3px solid #D6D6D6;
    height: 35px;
    overflow: visible;
    padding: 0;
}
.tit_2 h3 {
	font: 20px/36px "Microsoft YaHei";
	border-bottom: 3px solid #AA0C12;
	height: 35px;
	float: left;
}
.borrowList{
	padding:10px 0px;
	overflow:hidden;	
}
.contentDiv{
	overflow:hidden;
}
.contentTitle{
	font: 20px/36px Microsoft YaHei,tahoma;
	text-align:left;
}
.contentBody{
	overflow:hidden;
	width:260px;
}
.cloumn1{
	overflow:hidden;
	width:260px;
}
.num{
	float:left;
	width:42px;
	height:50px;
	background-color:#F1F1F1;
	color:#AA0B12;
	font: 38px Microsoft YaHei,tahoma;
	margin-right:4px;
}
.symbol{
	float:left;
	width:22px;
	height:50px;
	color:#AA0B12;
	font: 38px Microsoft YaHei;
	margin-right:4px;
}
.cloumn2{
	float:left;
}
.item{
	border-bottom:1px solid #dadada;
	height:80px;
	padding:10px;
	overflow:hidden;	
}
.item:hover{
	background-color:#FFFACD;	
}
.item_headimg{
	float:left;	
	width:70px;
	height:66px;

}
.item_headimg img{
	width:64px;	
	height:64px;
	border:1px solid #dadada;
	padding:1px;
}
.item_info{
	float:left;
	width:570px;
	text-align:left;
	padding:0px 10px;	
	color: #666666;
}
.item_row{
	overflow:hidden;
}
.item_row a{
	color:#990000;
	font: 16px/22px "Microsoft YaHei";	
}
.span1{
	float:left;width:200px;	
}
.span2{
	float:left;width:150px;	
}
.span3{
	float:left;width:300px;	
}
.mon{
	color: #FF6600;
     font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;	
}
.rate{
     font-family: "微软雅黑";
    font-size: 14px;
    font-weight: bold;	
}
.span1 img{
	width:16px;vertical-align:middle;
}
.notice_list{
	overflow:hidden;padding:10px 0px 0px;	
	text-align:left;
}
.notice_list ul{
	margin-top:10px;	
}
.notice_list li {
    border-bottom: 1px dotted #CCCCCC;
    font: 16px/24px "Microsoft YaHei";
    margin-bottom: 8px;
    overflow: hidden;
    padding-bottom: 8px;
}
.notice_list .more {
    background: url("../img/y.png") repeat scroll 35px -1200px #990000;
    color: #FFFFFF;
    display: inline-block;
    padding: 0 20px 0 10px;
    text-decoration: none;
	float:right;
}
.notice_list li:last-child {
    border: 0 none;
    padding: 0;
}
.notice_list .more:hover {
    background-color: #AA0000;
}
*{margin:0;padding:0;}
ul,li{list-style:none;}
img{border:0;}
h1{height:50px;line-height:50px;font-size:22px;font-weight:normal;font-family:"Microsoft YaHei",SimHei;margin-bottom:20px;}
/* focus */
#focus{width:680px;height:280px;overflow:hidden;position:relative;}
#focus ul{height:380px;position:absolute;}
#focus ul li{float:left;width:680px;height:280px;overflow:hidden;position:relative;background:#000;}
#focus ul li div{position:absolute;overflow:hidden;}
#focus .btnBg{position:absolute;width:680px;height:20px;left:0;bottom:0;background:#000;}
#focus .btn{position:absolute;width:580px;height:10px;padding:5px 10px;right:0;bottom:0;text-align:right;}
#focus .btn span{display:inline-block;_display:inline;_zoom:1;width:25px;height:10px;_font-size:0;;margin-left:5px;margin-bottom:4px;cursor:pointer;background:#fff;}
#focus .btn span.on{background:#fff;}
#focus .preNext{width:45px;height:100px;position:absolute;top:90px;background:url(../img/sprite.png) no-repeat 0 0;cursor:pointer;}
#focus .pre{left:0;}
#focus .next{right:0;background-position:right top;}

img.percentImage1 {
 background: white url(../img/percentImage_back1.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

img.percentImage2 {
 background: white url(../img/percentImage_back2.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

img.percentImage3 {
 background: white url(../img/percentImage_back3.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}

img.percentImage4 {
 background: white url(../img/percentImage_back4.png) top left no-repeat;
 padding: 0;
 margin: 5px 0 0 0;
 background-position: 1px 0;
}
.foot {
    background: none repeat scroll 0 0 #fff;
    border-top: 2px solid #A5080F;
    clear: both;
    padding: 15px 0;
	width:980px;
	margin:0px auto;
	margin-top: 15px;
}
.foot .new_footer {
    margin: auto;
    width: 980px;
}
.foot .new_footer p {
    margin: 3px 0;
    text-align: center;
}
.foot .new_footer p span {
    color: #CC0000;
    font-weight: bold;
    margin: 0 7px;
}
.foot .new_footer p span a {
    color: #FF6600;
    font-weight: bold;
}
.foot .new_footer p a {
    color: #666666;
    margin: 0 7px;
}
.foot .new_footer p a:hover {
    color: #FF6600;
    text-decoration: underline;
}
.foot .new_footer p b {
    font-weight: normal;
}

.right_xinxi {
    float: right;
    height: 50px;
    margin: 0;
    padding-right: 10px;
    padding-top:30px;
    text-align: right;
    width: 340px;
    font: 13px/21px "Microsoft YaHei";
}
.right_xinxi .right_xinxi_01 {
    float: right;
    height: 25px;
    margin: 0;
    padding-top: 5px;
    text-align: right;
    width: 340px;
}
.right_xinxi .right_xinxi_02 {
    float: right;
    height: 25px;
    margin: 0;
    padding: 0;
    text-align: right;
    width: 340px;
}