<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.core.sys.persistence.SysUserMapper" >

  <select id="selectByPrimaryKey" resultType="SysUser" parameterType="java.lang.Long" >
    select * from sys_user
    where tbid = #{tbid,jdbcType=BIGINT}
  </select>
  
  <select id="searchByCondition" resultType="SysUser">
  	 select * from sys_user where 1=1 
  	 <if test="username != null" >and username = #{username}</if>
     <if test="email != null" > and email = #{email}</if>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_user
    where tbid = #{tbid,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.core.sys.domain.SysUser" >
    insert into sys_user (username, `password`, 
      email)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR})
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.core.sys.domain.SysUser" >
    update sys_user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
    </set>
    where tbid = #{tbid,jdbcType=BIGINT}
  </update>
  
</mapper>