<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.team.loan.persistence.ProductMapper" >

  <select id="selectByPrimaryKey" resultType="Product" parameterType="java.lang.Long" >
    select tbid, `name`, `describe`, maxmoney, minmoney, maxlimit, minlimit, verifytime, maxrate,minrate, tendertime, replyway, fee 
    from product
    where tbid = #{tbid,jdbcType=BIGINT}
  </select>
  
  <select id="search" resultType="Product">
    select tbid, `name`, `describe`, maxmoney, minmoney, maxlimit, minlimit, verifytime, maxrate,minrate, tendertime, replyway, fee 
    from product order by tbid desc
  </select>
  
  <insert id="insert" parameterType="com.team.loan.domain.Product" useGeneratedKeys="true" keyProperty="tbid" >
    insert into product (`name`, `describe`, maxmoney, 
      minmoney, maxlimit, minlimit, 
      verifytime, maxrate, minrate, 
      tendertime, replyway, fee
      )
    values (#{name,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, #{maxmoney,jdbcType=INTEGER}, 
      #{minmoney,jdbcType=INTEGER}, #{maxlimit,jdbcType=INTEGER}, #{minlimit,jdbcType=INTEGER}, 
      #{verifytime,jdbcType=VARCHAR}, #{maxrate,jdbcType=REAL}, #{minrate,jdbcType=REAL}, 
      #{tendertime,jdbcType=VARCHAR}, #{replyway,jdbcType=VARCHAR}, #{fee,jdbcType=VARCHAR}
      )
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product
    where tbid = #{tbid,jdbcType=BIGINT}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="com.team.loan.domain.Product" >
    update product
    set `name` = #{name,jdbcType=VARCHAR},
      `describe` = #{describe,jdbcType=VARCHAR},
      maxmoney = #{maxmoney,jdbcType=INTEGER},
      minmoney = #{minmoney,jdbcType=INTEGER},
      maxlimit = #{maxlimit,jdbcType=INTEGER},
      minlimit = #{minlimit,jdbcType=INTEGER},
      verifytime = #{verifytime,jdbcType=VARCHAR},
      maxrate = #{maxrate,jdbcType=REAL},
      minrate = #{minrate,jdbcType=REAL},
      tendertime = #{tendertime,jdbcType=VARCHAR},
      replyway = #{replyway,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=VARCHAR}
    where tbid = #{tbid,jdbcType=BIGINT}
  </update>
  
</mapper>