<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="com.team.loan.persistence.ProjectMapper" >

  <select id="selectByPrimaryKey" resultType="Project" parameterType="java.lang.Long" >
    select `tbid` ,`name` ,`money` ,`deadline` ,`rate`  from project where tbid = #{tbid}
  </select>
  
  <select id="search" resultType="Project">
    select `tbid` ,`name` ,`money` ,`deadline` ,`rate`  from project order by tbid desc
  </select>
  
  <insert id="insert" parameterType="com.team.loan.domain.Project" useGeneratedKeys="true" keyProperty="tbid" >
    insert into project (`name` ,`money` ,`deadline` ,`rate` ) values (#{name},#{money},#{deadline},#{rate})
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from project where tbid = #{tbid}
  </delete>
  
  <update id="updateByPrimaryKey" parameterType="com.team.loan.domain.Project" >
    update project set `name` = #{name},`money` = #{money},`deadline` = #{deadline},`rate` = #{rate} where tbid = #{tbid}
  </update>
  
</mapper>